<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="JWDTask#1">
  <test name="test1">
    <classes>
      <class name="com.epam.jwd.quadrangle.action.FigureActions2DTest"/>
    </classes>
  </test>

  <test name="test2">
    <classes>
      <class name="com.epam.jwd.quadrangle.action.QuadrangleActionsTest"/>
    </classes>
  </test>

  <test name="test3">
    <classes>
      <class name="com.epam.jwd.quadrangle.model.QuadrangleFactoryTest"/>
    </classes>
  </test>

  <test name="test4">
    <classes>
      <class name="com.epam.jwd.quadrangle.reader.FigureReaderTest"/>
    </classes>
  </test>

  <test name="test5">
    <classes>
      <class name="com.epam.jwd.quadrangle.validation.QuadrangleBuildValidatorTest"/>
    </classes>
  </test>

  <test name="test6">
    <classes>
      <class name="com.epam.jwd.quadrangle.repository.FigureRepositoryTest"/>
    </classes>
  </test>

  <test name="test7">
    <classes>
      <class name="com.epam.jwd.quadrangle.repository.sort.SortFiguresByPerimeterTest"/>
    </classes>
  </test>

  <test name="test8">
    <classes>
      <class name="com.epam.jwd.quadrangle.repository.sort.SortFiguresBySquareTest"/>
    </classes>
  </test>

  <test name="test9">
    <classes>
      <class name="com.epam.jwd.quadrangle.repository.search.FindByFigureDistanceFromOriginTest"/>
    </classes>
  </test>

  <test name="test10">
    <classes>
      <class name="com.epam.jwd.quadrangle.repository.search.FindByFigureIdTest"/>
    </classes>
  </test>

  <test name="test11">
    <classes>
      <class name="com.epam.jwd.quadrangle.repository.search.FindByFigurePerimeterRangeTest"/>
    </classes>
  </test>

  <test name="test12">
    <classes>
      <class name="com.epam.jwd.quadrangle.repository.search.FindByFigureSquareRangeTest"/>
    </classes>
  </test>

  <test name="test13">
    <classes>
      <class name="com.epam.jwd.quadrangle.repository.search.FindByFigureTypeTest"/>
    </classes>
  </test>

</suite>